@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

@font-face {
  font-family: 'Futura-Book';
  src: url('/src/fonts/futura-book/Futura-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Heavy';
  src: url('/src/fonts/futura-heavy/Futura-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.font-heavy {
  font-family: 'Futura-Heavy';
}

.font-book {
  font-family: 'Futura-Book';
}

.font-playfair {
  font-family: 'Playfair Display SC', serif;
}


body {
  margin: 0;
  height: 992px;
  width: 100%;
  background: #FFFFFF;
  opacity: 1;

  /* remover o scrollbar IE, EDGE e FireFox*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*Remover a scrollbar EDGE Chromiunm, Chrome, Safari e Opera*/
body::-webkit-scrollbar {
  display: none;
}



.container {
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

div {
  width: 100%;
}

section {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  color: #ffffff;
}

.message {
  color: #fff;
  border: none;
}

.message a {
  color: #fff;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.shop-login {
  justify-content: space-between;
}

.login {
  display: flex;
  justify-content: center;
  max-width: 260px;
  margin-left: 20px;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.click {
  cursor: pointer;
}

header .header-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}


.search {
  margin: 20px 20px;
}

.chase-m-f {
  margin: 10px 0;
}

.nav-menu {
  padding: 10px;
  width: 100%;
  background-color: #EBD7CE;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0 4rem;
}

.menu a {
  padding: 10px 50px;
  text-decoration: none;
  color: #6d6d6d;
  font-weight: bold;
}

.menu a:hover {
  color: #000;
  background-color: #EBD7CE;
  font-weight: bolder;
}


.header-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 4rem;
  height: 30px;
  width: 100%;
  max-width: 992px;
}

.nav-bar p {
  margin: 1rem 0rem 1rem 2.7rem;
}

.nav-bar p:hover {
  font-weight: bold;
}

.top-toolbar {
  background-color: #000;

}

.info-empresa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-empresa .menu-ancora {
  margin: 20px;
}

.info-empresa span a {
  margin: 10px;
  color: #000;
  text-decoration: none;
}

.info-empresa span .menu-ancora a:hover {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.text-reverse {
  text-align: end;
}

.section .banner-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
}

.container-login {
  background-color: #fafafa;
}


.section .banner {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.section .banner-reverse .text-title {
  padding: 10% 7%;
  margin: 20px 0;
  width: 100%;
  height: 20%;
  flex-wrap: wrap;
}

.section .banner .text-title {
  padding: 10% 7%;
  margin: 20px 0;
  width: 100%;
  height: 20%;
}

.paragraph-reverse {
  padding: 50px 0;
  letter-spacing: 0px;
  text-align: right;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  font-family: 'Futura-Book', serif;
}

.logo-empresa {
  text-align: center;
  font-size: 77px;
}

.span2 {
  font-size: 150px;
  width: 100%;
}

.paragraph {
  padding: 50px 0;
  letter-spacing: 0px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Futura-Book';
}

.container-img {
  display: flex;
  max-width: 992px;
  width: 100%;
  min-width: 320px;
}

.banner1 {
  background-color: #C9EADE;
}

.banner2 {
  background-color: #EBA3A3;
}

.banner3 {
  background-color: #859DAB;
}

.banner4 {
  background-color: #EFD0A7;
}

.banner5 {
  background-color: #C4D6B6;
}

.banner6 {
  background-color: #F7CDC0;
}

.banner7 {
  background-color: #F4E7D0;
}

.img-banner {
  width: 100%;
  height: 100%;
}

.button-img {
  cursor: pointer;
  padding: 12px 0;
}

.rede-social-reverse {
  display: flex;
  justify-content: end;
}

.rede-social-reverse span {
  display: flex;
  justify-content: end;
}

.text-title {
  display: block;
  width: 100%;
}


.btn-banner {
  padding: 12px 0;
}

button {
  background-color: #000;
  color: #fafafa;
  padding: 8px 26px;
  border: none;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 900;
  cursor: pointer;
}

footer {
  display: flex;
  margin: 50px 0;
  width: 100%;
  background-color: #1f1f1f;
  height: 70px;
  align-items: center;
}

footer .footer {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  color: #ffffff;
}

footer .footer a {
  text-decoration: none;
  color: #ffffff;
}

footer .footer a:hover {
  text-decoration: underline;
}

@media(max-width: 992px) {
  .container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section {
    flex-direction: column;
  }

  .banner-reverse {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .header-menu {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .title-empresa {
    font-size: 100%;
  }

  .title-empresa {
    font-size: 50%;
  }


  .span2 {
    font-size: 1.3em;
    width: 100%;
  }

  .nav-menu {
    flex-grow: 1;
    width: 31.4rem;
  }

  .shop-login {
    display: flex;
    width: 100vw;
  }

  .chase-m-f {
    display: flex;
    flex-wrap: wrap;
  }

  footer {
    width: 31.4rem;
  }

  .top-toolbar {
    width: 31.4rem;
  }

  .conatienr-login {
    width: 31.4rem;
  }
}